
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-11-8JQ {
  box-sizing: border-box;
  padding: 4rem 5.4rem 37.5rem 5.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
}
.frame-11-8JQ .auto-group-wz92-qyW {
  margin: 0rem 57.8rem 14rem 2.1rem;
  width: calc(100% - 59.9rem);
  height: 7.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-wz92-qyW .auto-group-aiqi-B1n {
  margin-right: 1.4rem;
  box-sizing: border-box;
  padding: 3.5rem 1.7rem 3.6rem 2.1rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-12-NyS.png');
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-wz92-qyW .auto-group-aiqi-B1n .arrow-4-7AL {
  width: 4.2rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-11-8JQ .auto-group-wz92-qyW .about-us-3pg {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-ysyw-PNk {
  margin: 0rem 40.6rem 6.2rem 0rem;
  width: calc(100% - 40.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-ysyw-PNk .arrow-5-XE4 {
  margin: 0rem 5.8rem 0.1rem 0rem;
  width: 8.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-ysyw-PNk .app-version-TNc {
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-vptk-nvg {
  margin: 0rem 33.7rem 5.6rem 0rem;
  width: calc(100% - 33.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-vptk-nvg .arrow-6-LSQ {
  margin: 0rem 5.8rem 0.1rem 0rem;
  width: 8.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-vptk-nvg .term-of-service-shE {
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-nufj-p6g {
  margin: 0rem 10.8rem 39.8rem 0rem;
  width: calc(100% - 10.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-nufj-p6g .arrow-7-wwz {
  margin: 0rem 5.8rem 0.1rem 0rem;
  width: 8.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-nufj-p6g .licenses-and-registration-Uh2 {
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-8JQ .auto-group-xtgp-d48 {
  margin: 0rem 10.2rem 0rem 10.1rem;
  width: calc(100% - 20.3rem);
  height: 13.1rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f71919;
  border-radius: 5rem;
  flex-shrink: 0;
}
