
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-7-yYp {
  box-sizing: border-box;
  padding: 23.7rem 3.7rem 3.2rem 5.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
}
.frame-7-yYp .auto-group-bxip-J5J {
  margin: 0rem 10.5rem 8.4rem 1rem;
  box-sizing: border-box;
  padding: 1.1rem 4.2rem 1.5rem 2.3rem;
  width: calc(100% - 11.5rem);
  height: 14.3rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-bxip-J5J .fill-your-address-details-nmA {
  margin: 0.2rem 0.8rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-bxip-J5J .auto-group-ftma-xZA {
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.3rem 1.6rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-8.png');
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-bxip-J5J .auto-group-ftma-xZA .location-1-hFr {
  width: 10.6rem;
  height: 10.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-7-yYp .auto-group-wct4-1GY {
  margin-bottom: 5.2rem;
  box-sizing: border-box;
  padding: 2.4rem 2.3rem 3rem 2.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .receivers-name--7aU {
  margin: 0rem 0rem 1.7rem 0.6rem;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .rectangle-15-Crp {
  margin-bottom: 3rem;
  width: 75.9rem;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .receivers-contact-number--KgY {
  margin: 0rem 0rem 1.7rem 0.8rem;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .auto-group-t4fn-25A {
  margin-bottom: 3.3rem;
  width: 75.9rem;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .auto-group-t4fn-25A .rectangle-17-mYY {
  width: 100%;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 4rem;
}
.frame-7-yYp .auto-group-wct4-1GY .flat-house-no-building-floor--6ap {
  margin: 0rem 0rem 1.7rem 0.6rem;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .auto-group-c1ki-oVE {
  margin-bottom: 1.8rem;
  width: 75.9rem;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .auto-group-c1ki-oVE .rectangle-19-jdn {
  width: 100%;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 4rem;
}
.frame-7-yYp .auto-group-wct4-1GY .area-sector-locality--Gtc {
  margin: 0rem 0rem 0.6rem 0.6rem;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .rectangle-20-CGU {
  margin-bottom: 1.8rem;
  width: 75.9rem;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .nearby-landmarkoptional--Y5S {
  margin: 0rem 0rem 1.7rem 0.6rem;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-wct4-1GY .rectangle-21-SwW {
  width: 75.9rem;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-1tuj-NKN {
  margin: 0rem 2.9rem 0rem 1rem;
  box-sizing: border-box;
  padding: 0rem 5.9rem 0rem 9rem;
  width: calc(100% - 3.9rem);
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #fffcfc;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-1tuj-NKN .place-order-Gfe {
  margin-right: 17.3rem;
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-1tuj-NKN .auto-group-jfe4-bT2 {
  box-sizing: border-box;
  padding: 5rem 2.3rem 5rem 1.7rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-9.png');
  flex-shrink: 0;
}
.frame-7-yYp .auto-group-1tuj-NKN .auto-group-jfe4-bT2 .arrow-2-LQc {
  width: 10.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
}
