
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 92.8rem;
}.log-in-page-yDv {
  box-sizing: border-box;
  padding: 2.1rem 0rem 0rem 12.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #b5aaaa;
}
.log-in-page-yDv .dasus-high-resolution-logo-black-transparent-1-5Gx {
  margin: 0rem 12.5rem 2.8rem 0rem;
  width: 37.6rem;
  height: 33.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.log-in-page-yDv .auto-group-6jlq-ajW {
  width: 93.5rem;
  height: 127.1rem;
  position: relative;
  flex-shrink: 0;
}
.log-in-page-yDv .auto-group-6jlq-ajW .rectangle-1-FjA {
  width: 68.5rem;
  height: 95.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #fffcfc -0%, rgba(67, 54, 54, 0) 100%);
  border-radius: 7.8rem;
}
.log-in-page-yDv .auto-group-6jlq-ajW .enter-email-or-username-93r {
  width: 35.8rem;
  height: 3.9rem;
  position: absolute;
  left: 7.9rem;
  top: 32.6rem;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-yDv .auto-group-6jlq-ajW .rectangle-2-PD6 {
  width: 27.8rem;
  height: 6.5rem;
  position: absolute;
  left: 6.1rem;
  top: 16.1rem;
  background-color: #fa1414;
  border-radius: 2rem;
}
.log-in-page-yDv .auto-group-6jlq-ajW .log-in-KMe {
  width: 10.7rem;
  height: 3.9rem;
  position: absolute;
  left: 15.1rem;
  top: 17.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-yDv .auto-group-6jlq-ajW .rectangle-3-RQg {
  width: 27.1rem;
  height: 6.5rem;
  cursor: pointer;
  position: absolute;
  left: 33.9rem;
  top: 16.1rem;
  background-color: #fffcfc;
  border-radius: 2rem;
}
.log-in-page-yDv .auto-group-6jlq-ajW .sing-up-Xic {
  width: 13rem;
  height: 3.9rem;
  position: absolute;
  left: 39.7rem;
  top: 17.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-yDv .auto-group-6jlq-ajW .line-1-F8p {
  width: 53.4rem;
  height: 0.1rem;
  position: absolute;
  left: 7.6rem;
  top: 36.5rem;
  background-color: #000000;
}
.log-in-page-yDv .auto-group-6jlq-ajW .line-2-msr {
  width: 53.4rem;
  height: 0.1rem;
  position: absolute;
  left: 7.6rem;
  top: 47.6rem;
  background-color: #000000;
}
.log-in-page-yDv .auto-group-6jlq-ajW .password-iYC {
  width: 14.3rem;
  height: 3.9rem;
  position: absolute;
  left: 7.9rem;
  top: 43.7rem;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-yDv .auto-group-6jlq-ajW .forget-password--dQG {
  width: 26.4rem;
  height: 3.9rem;
  position: absolute;
  left: 33.7rem;
  top: 52.9rem;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.log-in-page-yDv .auto-group-6jlq-ajW .ppp-1-L3n {
  width: 7.4rem;
  height: 7.4rem;
  position: absolute;
  left: 52.7rem;
  top: 41.1rem;
  object-fit: cover;
  vertical-align: top;
}
.log-in-page-yDv .auto-group-6jlq-ajW .removebg-preview-1-T8Q {
  width: 50rem;
  height: 50rem;
  position: absolute;
  left: 43.5rem;
  top: 77.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 25rem;
}
.log-in-page-yDv .auto-group-6jlq-ajW .rectangle-4-yMe {
  width: 52.4rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  left: 8.6rem;
  top: 65.5rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.log-in-page-yDv .auto-group-6jlq-ajW .log-in-6x4 {
  width: 18.1rem;
  height: 7.8rem;
  position: absolute;
  left: 25.9rem;
  top: 66.6rem;
  font-size: 6.4rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
