
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-7-yYp {
  box-sizing: border-box;
  padding: 23.7rem 3.7rem 3.2rem 5.6rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
  overflow: hidden;

  .auto-group-bxip-J5J {
    flex-shrink: 0;
    width: calc(100% - 11.5rem);
    align-items: center;
    padding: 1.1rem 4.2rem 1.5rem 2.3rem;
    height: 14.3rem;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 4rem;
    margin: 0rem 10.5rem 8.4rem 1rem;
    box-sizing: border-box;

    .fill-your-address-details-nmA {
      color: #000000;
      flex-shrink: 0;
      font-size: 4.8rem;
      font-weight: 300;
      font-style: italic;
      white-space: nowrap;
      margin: 0.2rem 0.8rem 0rem 0rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-ftma-xZA {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:18:427');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 1.6rem 0.3rem 1.6rem;

      .location-1-hFr {
        width: 10.6rem;
        height: 10.6rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-wct4-1GY {
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    border-radius: 4.4rem;
    margin-bottom: 5.2rem;
    padding: 2.4rem 2.3rem 3rem 2.3rem;
    flex-direction: column;

    .receivers-name--7aU {
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 300;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 0rem 1.7rem 0.6rem;
      font-size: 4.8rem;
      font-style: italic;
    }
    .rectangle-15-Crp {
      background-color: #ffffff;
      border-radius: 4rem;
      flex-shrink: 0;
      margin-bottom: 3rem;
      width: 75.9rem;
      height: 5.6rem;
    }
    .receivers-contact-number--KgY {
      font-size: 4.8rem;
      line-height: 1.2125;
      color: #000000;
      margin: 0rem 0rem 1.7rem 0.8rem;
      font-weight: 300;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-t4fn-25A {
      flex-shrink: 0;
      margin-bottom: 3.3rem;
      width: 75.9rem;
      background-color: #ffffff;
      border-radius: 4rem;

      .rectangle-17-mYY {
        width: 100%;
        height: 5.6rem;
        background-color: #ffffff;
        border-radius: 4rem;
      }
    }
    .flat-house-no-building-floor--6ap {
      font-size: 4.8rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1.7rem 0.6rem;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      flex-shrink: 0;
      font-weight: 300;
    }
    .auto-group-c1ki-oVE {
      margin-bottom: 1.8rem;
      width: 75.9rem;
      background-color: #ffffff;
      border-radius: 4rem;
      flex-shrink: 0;

      .rectangle-19-jdn {
        width: 100%;
        height: 5.6rem;
        background-color: #ffffff;
        border-radius: 4rem;
      }
    }
    .area-sector-locality--Gtc {
      font-weight: 300;
      color: #000000;
      white-space: nowrap;
      margin: 0rem 0rem 0.6rem 0.6rem;
      font-size: 4.8rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.2125;
      font-style: italic;
    }
    .rectangle-20-CGU {
      margin-bottom: 1.8rem;
      width: 75.9rem;
      height: 5.6rem;
      background-color: #ffffff;
      border-radius: 4rem;
      flex-shrink: 0;
    }
    .nearby-landmarkoptional--Y5S {
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.2125;
      font-size: 4.8rem;
      font-weight: 300;
      white-space: nowrap;
      margin: 0rem 0rem 1.7rem 0.6rem;
    }
    .rectangle-21-SwW {
      width: 75.9rem;
      height: 5.6rem;
      background-color: #ffffff;
      border-radius: 4rem;
      flex-shrink: 0;
    }
  }
  .auto-group-1tuj-NKN {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.9rem 0rem 1rem;
    padding: 0rem 5.9rem 0rem 9rem;
    width: calc(100% - 3.9rem);
    height: 10rem;
    box-sizing: border-box;
    background-color: #fffcfc;
    border-radius: 4rem;

    .place-order-Gfe {
      margin-right: 17.3rem;
      font-weight: 300;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 6.4rem;
      line-height: 1.2125;
      color: #000000;
      flex-shrink: 0;
    }
    .auto-group-jfe4-bT2 {
      background-image: url('REPLACE_IMAGE:18:458');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5rem 2.3rem 5rem 1.7rem;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .arrow-2-LQc {
        width: 10.1rem;
        height: 0rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
