
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-12-Wha {
  padding: 3.8rem 3.4rem 97.6rem 4.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
  box-sizing: border-box;

  .auto-group-2fmn-eHz {
    margin-bottom: 7.4rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-ych2-CaQ {
      margin: 10rem 10.4rem 0rem 0rem;
      font-style: italic;
      display: flex;
      background-color: #f71919;
      flex-shrink: 0;
      font-size: 6.4rem;
      font-weight: 800;
      align-items: center;
      white-space: nowrap;
      border-radius: 5rem;
      width: 62.4rem;
      height: 13.1rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: #000000;
      justify-content: center;
    }
    .auto-group-mmvc-Foa {
      box-sizing: border-box;
      padding: 6.3rem 2.2rem 6.4rem 2.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:86:101');
      flex-shrink: 0;
      margin-bottom: 10.4rem;

      .arrow-8-nYc {
        vertical-align: top;
        width: 8.4rem;
        height: 0rem;
        object-fit: contain;
      }
    }
  }
  .auto-group-xwhi-8Ma {
    line-height: 1.2125;
    white-space: nowrap;
    justify-content: center;
    flex-shrink: 0;
    font-size: 6.4rem;
    background-color: #f71919;
    color: #000000;
    height: 13.1rem;
    font-weight: 800;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    align-items: center;
    width: 62.4rem;
    border-radius: 5rem;
  }
}
