
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 92.8rem;
}.sing-up-page-uyN {
  box-sizing: border-box;
  padding: 2.1rem 0rem 0rem 13.2rem;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #b5aaaa;

  .dasus-high-resolution-logo-black-transparent-1-duN {
    margin: 0rem 13.2rem 3.7rem 0rem;
    width: 37.6rem;
    height: 33.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-ucmi-9Mv {
    width: 92.8rem;
    height: 126.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-soi {
      width: 68.5rem;
      height: 95.3rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #fffcfc -0%, rgba(67, 54, 54, 0) 100%);
      border-radius: 7.8rem;
    }
    .enter-email-or-username-bUp {
      height: 3.9rem;
      position: absolute;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 35.8rem;
      top: 31.7rem;
      font-weight: 200;
      white-space: nowrap;
      left: 7.2rem;
    }
    .rectangle-2-uEc {
      width: 27.8rem;
      height: 6.5rem;
      cursor: pointer;
      position: absolute;
      left: 5.4rem;
      top: 15.2rem;
      background-color: #fffcfc;
      border-radius: 2rem;
    }
    .log-in-Rik {
      top: 16.6rem;
      font-size: 3.2rem;
      color: #251e1e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.7rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
      font-style: italic;
      height: 3.9rem;
      left: 14.4rem;
    }
    .rectangle-3-jzL {
      width: 27.1rem;
      height: 6.5rem;
      position: absolute;
      left: 33.2rem;
      top: 15.2rem;
      background-color: #f61414;
      border-radius: 2rem;
    }
    .sign-up-r3N {
      width: 13rem;
      position: absolute;
      left: 39rem;
      top: 16.6rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      font-style: italic;
      height: 3.9rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-1-9YG {
      left: 6.9rem;
      top: 35.6rem;
      background-color: #000000;
      width: 53.4rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-2-tEx {
      height: 0.1rem;
      position: absolute;
      left: 6.9rem;
      top: 46.7rem;
      background-color: #000000;
      width: 53.4rem;
    }
    .password-2MA {
      font-weight: 200;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      top: 42.8rem;
      font-size: 3.2rem;
      position: absolute;
      left: 7.2rem;
      font-style: italic;
      white-space: nowrap;
      width: 14.3rem;
      height: 3.9rem;
    }
    .ppp-1-Lck {
      vertical-align: top;
      width: 7.4rem;
      height: 7.4rem;
      position: absolute;
      left: 52rem;
      top: 40.2rem;
      object-fit: cover;
    }
    .removebg-preview-1-5KS {
      top: 76.2rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 25rem;
      width: 50rem;
      height: 50rem;
      position: absolute;
      left: 42.8rem;
    }
    .rectangle-4-Cex {
      left: 7.9rem;
      top: 64.6rem;
      background-color: #d9d9d9;
      border-radius: 2rem;
      width: 52.4rem;
      height: 10rem;
      cursor: pointer;
      position: absolute;
    }
    .sign-up-XhE {
      font-weight: 200;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.8rem;
      position: absolute;
      top: 65.7rem;
      font-size: 6.4rem;
      font-style: italic;
      color: #000000;
      width: 21.4rem;
      left: 25.2rem;
    }
    .line-3-rDi {
      vertical-align: top;
      width: 53.1001rem;
      height: 0.0124rem;
      position: absolute;
      left: 7.2rem;
      top: 55.9rem;
      object-fit: contain;
    }
    .comfirm-password-Bmn {
      width: 27.7rem;
      position: absolute;
      left: 7.2rem;
      font-weight: 200;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      height: 3.9rem;
      top: 52rem;
      font-size: 3.2rem;
      color: #211f1f;
      white-space: nowrap;
    }
  }
}
