
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.home-page-cAG {
  box-sizing: border-box;
  padding: 5.8rem 1.9rem 1.6rem 3.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
}
.home-page-cAG .auto-group-zvnk-vwe {
  margin: 0rem 1.1rem 6.2rem 0rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-zvnk-vwe .auto-group-hb56-42G {
  margin-right: 63.7rem;
  box-sizing: border-box;
  padding: 3.9rem 3.3rem 4rem 2rem;
  width: 12rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2.png');
  flex-shrink: 0;
}
.home-page-cAG .auto-group-zvnk-vwe .auto-group-hb56-42G .line-4-yQ8 {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 0.8rem;
  background-color: #000000;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-zvnk-vwe .auto-group-hb56-42G .line-5-KTz {
  margin-right: 1.8rem;
  width: 4.7rem;
  height: 0.8rem;
  background-color: #000000;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-zvnk-vwe .auto-group-oxuy-qSL {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 1.3rem 1.8rem 1.4rem 1.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3.png');
  flex-shrink: 0;
}
.home-page-cAG .auto-group-zvnk-vwe .auto-group-oxuy-qSL .item-1843-1-ZdE {
  width: 7.7rem;
  height: 9.2rem;
  object-fit: cover;
  vertical-align: top;
}
.home-page-cAG .auto-group-cf9e-67N {
  margin-bottom: 4rem;
  width: 55.8rem;
  height: 15.6rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-cf9e-67N .rectangle-5-RfS {
  width: 53.4rem;
  height: 12.1rem;
  position: absolute;
  left: 2.4rem;
  top: 3.3rem;
  background-color: #bcb7b7;
}
.home-page-cAG .auto-group-cf9e-67N .choose-the-food-you-love-N4t {
  width: 41.8rem;
  height: 15.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.home-page-cAG .auto-group-jnqu-UNp {
  margin: 0rem 4.3rem 6.2rem 2.9rem;
  box-sizing: border-box;
  padding: 2.5rem 1.4rem;
  width: calc(100% - 7.2rem);
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-page-cAG .categories-vVi {
  margin: 0rem 0rem 6.1rem 0.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz {
  margin: 0rem 0rem 5rem 0.9rem;
  height: 20.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-2-M5E {
  margin-right: 7.6rem;
  box-sizing: border-box;
  padding: 3.9rem 5.3rem 3.6rem 6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-4-iBW.png');
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-2-M5E .burger5786940-1-nRS {
  margin: 0rem 0.1rem 1.3rem 0rem;
  width: 7.1rem;
  height: 7.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-2-M5E .burger-Vak {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-3-cfN {
  margin-right: 4.8rem;
  box-sizing: border-box;
  padding: 3.1rem 7.2rem 2.5rem 5.5rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-4.png');
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-3-cfN .pizza3595434-1-whe {
  margin: 0rem 0rem 1.9rem 1.8rem;
  width: 8.6rem;
  height: 8.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-3-cfN .pizza-53A {
  margin-right: 1rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-4-bGQ {
  box-sizing: border-box;
  padding: 3.9rem 7rem 1.7rem 6.4rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-4-niQ.png');
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-4-bGQ .bowl1609972-1-irp {
  margin-bottom: 1.6rem;
  width: 8.7rem;
  height: 8.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-rij8-pqz .frame-4-bGQ .salad-fGG {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .burgers-PCG {
  margin: 0rem 0rem 4.2rem 0.9rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z {
  margin-left: 1.7rem;
  height: 39.3rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-o1gy-eP6 {
  margin: 0rem 4.2rem 3.3rem 0rem;
  width: 32.1rem;
  height: 36rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-o1gy-eP6 .rectangle-7-AsE {
  width: 32.1rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background: linear-gradient(180deg, #fb0606 -0%, rgba(251, 6, 6, 0) 100%);
  border-radius: 5.7rem;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-o1gy-eP6 .removebg-preview-1-U7E {
  width: 27.9rem;
  height: 26.4rem;
  position: absolute;
  left: 2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-o1gy-eP6 .aloo-tikki-burger-nNp {
  width: 28.7rem;
  height: 4.4rem;
  position: absolute;
  left: 1.7rem;
  top: 22rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-o1gy-eP6 .rs59-VHE {
  width: 10.4rem;
  height: 4.4rem;
  position: absolute;
  left: 2rem;
  top: 27.8rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-ok8l-BQx {
  margin: 1.2rem 8.4rem 3.3rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 4rem 3.8rem 4.2rem;
  width: 32.1rem;
  height: calc(100% - 4.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-ok8l-BQx .zinger-removebg-preview-1-Fvc {
  margin-left: 2rem;
  width: 21.5rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-ok8l-BQx .zinger-burger-bDn {
  margin-bottom: 1.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #211f1f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-ok8l-BQx .rs180-KvU {
  margin-right: 12rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #251e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-asye-3rU {
  margin-top: 30.8rem;
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 1.1rem 1.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-5.png');
  flex-shrink: 0;
}
.home-page-cAG .auto-group-b8mr-W1z .auto-group-asye-3rU .image-1-arQ {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
