
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 92.8rem;
}.sing-up-page-uyN {
  box-sizing: border-box;
  padding: 2.1rem 0rem 0rem 13.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #b5aaaa;
}
.sing-up-page-uyN .dasus-high-resolution-logo-black-transparent-1-duN {
  margin: 0rem 13.2rem 3.7rem 0rem;
  width: 37.6rem;
  height: 33.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv {
  width: 92.8rem;
  height: 126.2rem;
  position: relative;
  flex-shrink: 0;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .rectangle-1-soi {
  width: 68.5rem;
  height: 95.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #fffcfc -0%, rgba(67, 54, 54, 0) 100%);
  border-radius: 7.8rem;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .enter-email-or-username-bUp {
  width: 35.8rem;
  height: 3.9rem;
  position: absolute;
  left: 7.2rem;
  top: 31.7rem;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .rectangle-2-uEc {
  width: 27.8rem;
  height: 6.5rem;
  cursor: pointer;
  position: absolute;
  left: 5.4rem;
  top: 15.2rem;
  background-color: #fffcfc;
  border-radius: 2rem;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .log-in-Rik {
  width: 10.7rem;
  height: 3.9rem;
  position: absolute;
  left: 14.4rem;
  top: 16.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #251e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .rectangle-3-jzL {
  width: 27.1rem;
  height: 6.5rem;
  position: absolute;
  left: 33.2rem;
  top: 15.2rem;
  background-color: #f61414;
  border-radius: 2rem;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .sign-up-r3N {
  width: 13rem;
  height: 3.9rem;
  position: absolute;
  left: 39rem;
  top: 16.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .line-1-9YG {
  width: 53.4rem;
  height: 0.1rem;
  position: absolute;
  left: 6.9rem;
  top: 35.6rem;
  background-color: #000000;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .line-2-tEx {
  width: 53.4rem;
  height: 0.1rem;
  position: absolute;
  left: 6.9rem;
  top: 46.7rem;
  background-color: #000000;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .password-2MA {
  width: 14.3rem;
  height: 3.9rem;
  position: absolute;
  left: 7.2rem;
  top: 42.8rem;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .ppp-1-Lck {
  width: 7.4rem;
  height: 7.4rem;
  position: absolute;
  left: 52rem;
  top: 40.2rem;
  object-fit: cover;
  vertical-align: top;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .removebg-preview-1-5KS {
  width: 50rem;
  height: 50rem;
  position: absolute;
  left: 42.8rem;
  top: 76.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 25rem;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .rectangle-4-Cex {
  width: 52.4rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  left: 7.9rem;
  top: 64.6rem;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .sign-up-XhE {
  width: 21.4rem;
  height: 7.8rem;
  position: absolute;
  left: 25.2rem;
  top: 65.7rem;
  font-size: 6.4rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .line-3-rDi {
  width: 53.1001rem;
  height: 0.0124rem;
  position: absolute;
  left: 7.2rem;
  top: 55.9rem;
  object-fit: contain;
  vertical-align: top;
}
.sing-up-page-uyN .auto-group-ucmi-9Mv .comfirm-password-Bmn {
  width: 27.7rem;
  height: 3.9rem;
  position: absolute;
  left: 7.2rem;
  top: 52rem;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1.2125;
  font-style: italic;
  color: #211f1f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
