
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 92.8rem;
}.android-large-1-GFe {
  width: 100%;
  height: 145rem;
  position: relative;
  overflow: hidden;
  background-color: #f20a0a;

  .dasus-high-resolution-logo-black-transparent-2-RXr {
    position: absolute;
    left: 27.6rem;
    top: 48.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 37.6rem;
    height: 33.8rem;
  }
  .dasus-high-resolution-logo-black-transparent-3-dtp {
    position: absolute;
    left: 27.6rem;
    top: 48.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 37.6rem;
    height: 33.8rem;
  }
}
