
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-8-v5J {
  flex-direction: column;
  background-color: #beb7b7;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding: 50.1rem 2.7rem 6.6rem 1.6rem;

  .auto-group-tig4-3Qp {
    margin: 0rem 25.7rem 6.8rem 26.9rem;
    box-sizing: border-box;
    width: calc(100% - 52.6rem);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 5.5rem;
    background-position: center;
    background-image: url('REPLACE_IMAGE:18:461');
    flex-shrink: 0;

    .check-1-mLp {
      width: 25.6rem;
      height: 20.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .your-order-is-comfirm-6P6 {
    font-size: 6.4rem;
    white-space: nowrap;
    flex-shrink: 0;
    font-style: italic;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    margin: 0rem 0rem 6.6rem 2.7rem;
    font-weight: 300;
    line-height: 1.2125;
  }
  .thanks-for-order-from-dasus-P7J {
    font-weight: 300;
    color: #000000;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 14.3rem;
    font-size: 6.4rem;
    line-height: 1.2125;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-usek-uLY {
    color: #251e1e;
    white-space: nowrap;
    border-radius: 5rem;
    background-color: #f51b1b;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    line-height: 1.2125;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 31.2rem 0rem 25rem;
    height: 8.7rem;
    font-size: 4rem;
    width: calc(100% - 56.2rem);
    font-style: italic;
    align-items: center;
  }
}
