
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-9-SHi {
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
  box-sizing: border-box;
  padding: 6.8rem 8.6rem 8.5rem 5.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-uvcl-MvU {
    background-image: url('REPLACE_IMAGE:65:35');
    flex-shrink: 0;
    margin: 0rem 68.2rem 3.5rem 0rem;
    box-sizing: border-box;
    padding: 5.5rem 3rem 5.5rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .arrow-3-HZE {
      width: 6.5rem;
      height: 0rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-3tmn-Dhn {
    border-radius: 5rem;
    flex-shrink: 0;
    margin-left: 3.8rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 11.3rem 8.35rem 26.4rem 6.6rem;
    width: 75.9rem;
    background-color: #d9d9d9;

    .auto-group-c9zt-vs6 {
      white-space: nowrap;
      margin: 0rem 0rem 10.8rem 1.05rem;
      width: 59.9rem;
      height: 9.8rem;
      line-height: 1.2125;
      color: #000000;
      font-weight: 300;
      flex-shrink: 0;
      font-size: 6.4rem;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      background-position: center;
      background-image: url('REPLACE_IMAGE:63:14');
    }
    .auto-group-jwqs-nuJ {
      margin: 0rem 11.25rem 7.1rem 0rem;
      width: calc(100% - 11.25rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .mail-1-KuE {
        height: 7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.2rem;
        width: 10.9rem;
      }
      .pateldasu77gmailcom-fTJ {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.2125;
        font-style: italic;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        text-decoration-line: underline;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-g4c4-Ymz {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 22.35rem 23.8rem 1.3rem;
      width: calc(100% - 23.65rem);
      display: flex;

      .phone-call-1-Gxt {
        height: 7.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.8rem;
        width: 8.3rem;
      }
      .item-919313407076-pDi {
        font-weight: 300;
        font-style: italic;
        flex-shrink: 0;
        white-space: nowrap;
        margin-top: 1.4rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-fde4-KwA {
      margin-right: 4.95rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .instagram-1-sxg {
        width: 11.1rem;
        height: 11.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 9.3rem;
      }
      .facebook-1-Ck4 {
        margin-right: 9.4rem;
        width: 11.1rem;
        height: 11.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .twitter-1-YZ2 {
        width: 11.1rem;
        height: 11.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
