
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.frame-10-u16 {
  padding: 4rem 5.9rem 53.4rem 5.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #beb7b7;
  align-items: center;

  .auto-group-nwsp-pdr {
    flex-shrink: 0;
    margin: 0rem 53.6rem 6.2rem 1.6rem;
    width: calc(100% - 55.2rem);
    height: 7.1rem;
    display: flex;
    align-items: center;

    .auto-group-gt7a-9RE {
      margin-right: 1.4rem;
      box-sizing: border-box;
      padding: 3.5rem 1.7rem 3.6rem 2.1rem;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:86:14');
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;

      .arrow-4-5Jt {
        object-fit: contain;
        vertical-align: top;
        width: 4.2rem;
        height: 0;
      }
    }
    .your-profile-cZi {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 300;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-5bja-M1W {
    width: calc(100% - 60.1rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:86:3');
    flex-shrink: 0;
    margin: 0rem 30.4rem 8.5rem 29.7rem;

    .item-1843-1-skY {
      border-radius: 9.6rem;
      width: 21.6rem;
      height: 19.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-zxjp-aur {
    font-family: Inter, 'Source Sans Pro';
    border-bottom: solid 0.2rem #000000;
    margin: 0rem 7.4rem 9rem 0rem;
    box-sizing: border-box;
    padding: 0 0.2rem;
    width: 74.3rem;
    font-weight: 200;
    flex-shrink: 0;
    font-size: 4rem;
    line-height: 1.2125;
    font-style: italic;
    color: #000000;
    white-space: nowrap;
  }
  .auto-group-xw5s-3oS {
    margin: 0rem 7rem 9rem 0rem;
    width: 74.3rem;
    height: 4.9rem;
    position: relative;
    flex-shrink: 0;

    .line-7-nFE {
      width: 74.3rem;
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 4.1rem;
      background-color: #000000;
    }
    .mobile-KW4 {
      position: absolute;
      top: 0;
      font-size: 4rem;
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.9rem;
      left: 0.5rem;
      font-weight: 200;
      line-height: 1.2125;
      width: 12.4rem;
    }
  }
  .auto-group-ng4c-phi {
    width: 74.3rem;
    height: 4.9rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 6rem 9rem 0rem;

    .line-8-MSk {
      width: 74.3rem;
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 4.1rem;
      background-color: #000000;
    }
    .email-69S {
      width: 9.8rem;
      height: 4.9rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 200;
      color: #000000;
      white-space: nowrap;
      left: 0;
      top: 0;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-323n-opY {
    margin-right: 6rem;
    width: 74.3rem;
    height: 4.9rem;
    position: relative;
    flex-shrink: 0;

    .line-9-M5N {
      width: 74.3rem;
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 4.1rem;
      background-color: #000000;
    }
    .date-of-birth-JFW {
      width: 23.4rem;
      height: 4.9rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 4rem;
      font-weight: 200;
      font-style: italic;
    }
  }
}
