
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.5rem;
}.home-page-cAG {
  padding: 5.8rem 1.9rem 1.6rem 3.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #beb7b7;
  box-sizing: border-box;

  .auto-group-zvnk-vwe {
    flex-shrink: 0;
    margin: 0rem 1.1rem 6.2rem 0rem;
    width: calc(100% - 1.1rem);
    display: flex;
    align-items: flex-start;

    .auto-group-hb56-42G {
      background-image: url('REPLACE_IMAGE:11:103');
      flex-shrink: 0;
      padding: 3.9rem 3.3rem 4rem 2rem;
      width: 12rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 63.7rem;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: column;

      .line-4-yQ8 {
        margin-bottom: 1.1rem;
        width: 100%;
        height: 0.8rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .line-5-KTz {
        width: 4.7rem;
        height: 0.8rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 1.8rem;
      }
    }
    .auto-group-oxuy-qSL {
      background-image: url('REPLACE_IMAGE:11:109');
      flex-shrink: 0;
      margin-top: 0.1rem;
      box-sizing: border-box;
      padding: 1.3rem 1.8rem 1.4rem 1.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .item-1843-1-ZdE {
        width: 7.7rem;
        height: 9.2rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-cf9e-67N {
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 55.8rem;
    height: 15.6rem;
    position: relative;

    .rectangle-5-RfS {
      background-color: #bcb7b7;
      width: 53.4rem;
      height: 12.1rem;
      position: absolute;
      left: 2.4rem;
      top: 3.3rem;
    }
    .choose-the-food-you-love-N4t {
      font-family: Inter, 'Source Sans Pro';
      width: 41.8rem;
      height: 15.6rem;
      top: 0;
      font-size: 6.4rem;
      font-style: italic;
      position: absolute;
      left: 0;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
    }
  }
  .auto-group-jnqu-UNp {
    flex-shrink: 0;
    font-weight: 300;
    font-style: italic;
    white-space: nowrap;
    background-color: #d9d9d9;
    font-size: 3.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    border-radius: 2rem;
    margin: 0rem 4.3rem 6.2rem 2.9rem;
    box-sizing: border-box;
    padding: 2.5rem 1.4rem;
    color: #000000;
    width: calc(100% - 7.2rem);
  }
  .categories-vVi {
    margin: 0rem 0rem 6.1rem 0.9rem;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    line-height: 1.2125;
    font-style: italic;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-rij8-pqz {
    margin: 0rem 0rem 5rem 0.9rem;
    height: 20.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-2-M5E {
      margin-right: 7.6rem;
      padding: 3.9rem 5.3rem 3.6rem 6rem;
      height: 100%;
      display: flex;
      background-position: center;
      background-image: url('REPLACE_IMAGE:12:148');
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;

      .burger5786940-1-nRS {
        width: 7.1rem;
        height: 7.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.3rem 0rem;
      }
      .burger-Vak {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .frame-3-cfN {
      flex-direction: column;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:12:152');
      margin-right: 4.8rem;
      box-sizing: border-box;
      padding: 3.1rem 7.2rem 2.5rem 5.5rem;
      align-items: center;
      display: flex;
      height: 100%;
      cursor: pointer;
      background-size: cover;
      background-position: center;
      flex-shrink: 0;

      .pizza3595434-1-whe {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.9rem 1.8rem;
        width: 8.6rem;
        height: 8.4rem;
      }
      .pizza-53A {
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1rem;
        font-size: 3.6rem;
      }
    }
    .frame-4-bGQ {
      box-sizing: border-box;
      padding: 3.9rem 7rem 1.7rem 6.4rem;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:12:154');
      height: 100%;
      cursor: pointer;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;

      .bowl1609972-1-irp {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 8.7rem;
        height: 8.7rem;
      }
      .salad-fGG {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .burgers-PCG {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 4.2rem 0.9rem;
  }
  .auto-group-b8mr-W1z {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: 1.7rem;
    height: 39.3rem;

    .auto-group-o1gy-eP6 {
      margin: 0rem 4.2rem 3.3rem 0rem;
      width: 32.1rem;
      height: 36rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-7-AsE {
        width: 32.1rem;
        height: 34.8rem;
        position: absolute;
        left: 0;
        top: 1.2rem;
        background: linear-gradient(180deg, #fb0606 -0%, rgba(251, 6, 6, 0) 100%);
        border-radius: 5.7rem;
      }
      .removebg-preview-1-U7E {
        height: 26.4rem;
        position: absolute;
        left: 2rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 27.9rem;
      }
      .aloo-tikki-burger-nNp {
        font-weight: 600;
        color: #ffffff;
        width: 28.7rem;
        height: 4.4rem;
        position: absolute;
        left: 1.7rem;
        font-size: 3.6rem;
        top: 22rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rs59-VHE {
        width: 10.4rem;
        position: absolute;
        left: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.4rem;
        top: 27.8rem;
        font-size: 3.6rem;
        font-weight: 600;
        color: #ffffff;
      }
    }
    .auto-group-ok8l-BQx {
      align-items: center;
      flex-direction: column;
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 1.2rem 8.4rem 3.3rem 0rem;
      height: calc(100% - 4.5rem);
      width: 32.1rem;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0.3rem 4rem 3.8rem 4.2rem;

      .zinger-removebg-preview-1-Fvc {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 2rem;
        width: 21.5rem;
        height: 20.5rem;
      }
      .zinger-burger-bDn {
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #211f1f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
      }
      .rs180-KvU {
        font-weight: 600;
        line-height: 1.2125;
        color: #251e1e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12rem;
        font-size: 3.6rem;
      }
    }
    .auto-group-asye-3rU {
      padding: 1.4rem 1.7rem 1.1rem 1.8rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:16:175');
      flex-shrink: 0;
      margin-top: 30.8rem;
      box-sizing: border-box;

      .image-1-arQ {
        vertical-align: top;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}
